@media (max-width: 1220px) {
    /* #product-list {
        display: block;
    } */
}

@media (max-width:1024px) {
    /* #product-list {
        display: block;
    } */
}

@media (max-width:768px) {
    /* #product-list {
        display: block;
    } */
}

@media (max-width:425px) {
    #product-list {
        display: block;
    }
}

@media (max-width:375px) {
    #product-list {
        display: block;
    }
}

@media (max-width:320px) {
    #product-list {
        display: block;
    }
}