body {
  background-color: rgb(233, 233, 233);
  font-family: "Times New Roman", Georgia, Serif;
}

.container {
  width: 320px;
  height: 450px;
}

.textBox {
  width: 250px;
}

.btn {
  width: 60px;
  height: 50px;
}